
.sec_link{
  float: left;
  margin-left: 110px;
  margin-top: 20px;
  border-radius: 100%;
  overflow: hidden;
}
.link{
  float: left;
  margin-left: 450px;
  margin-top: 20px;
}
.third_link{
  float: left;
  margin-left: 100px;

}
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
}
